.container {
  width: min(100% - 48px, 1200px);
  margin-inline: auto;
}
.eyebrow {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--forest);
}
.desktopBreak {
  display: initial;
}
@media (max-width: 1023px) {
  .container {
    width: min(100% - 80px, 688px);
  }
}
@media (max-width: 599px) {
  .container {
    width: calc(100% - 48px);
  }
  .desktopBreak {
    display: none;
  }
}
@media (max-width: 350px) {
  .container {
    width: calc(100% - 32px);
  }
}
